
@media (min-width: 1281px){
    .Board_item_Box{
        display: block;
        text-align: center;
        width: 100%;
        height: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .Board_item_line{
        display: inline-block;
        background-image: url('../Images/BoardItemBackground.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 900px;
        height: 120px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .Board_item{
        font-weight: bold;
    }
    .Board_item_more{
        display: inline-block;
        width: max-content;
        height: 20px;
        line-height: 20px;
        border-width: 1px;
        outline: 0;
    }
    .Board_item_more:hover{
        cursor: pointer;
    }
    .MakeBoard_Submit_btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .title_box{
        display: inline-block;
        width: 50%;
        font-size: 18px;
        line-height: 120px;
        vertical-align: middle;
        text-align: left;
        font-size: 25px;
    }
    .title_box:hover{
        cursor: pointer;
    }
    .region_box, .position_box{
        display: inline-block;
        width: max-content;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        font-size: 15px;
        margin-left: 3px;
        margin-right: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-width: 3px;
        font-weight: bold;
        color: white;
    }
    .region_box{
        background-color: #5c5846;
    }
    .position_box{
        background-color: #4c4837;
    }
    
    .mine_menu:hover{
        cursor: pointer;
    }
    .newheader{
        display: block;
        width: max-content;
        margin-bottom: 3px;
        margin-left: auto;
        margin-right: auto;
    }
    .newheader2{
        margin-top: 20px;
    }
    .newtitle_box{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .newcontent_box{
        display: block;
        width: 200px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .Board_item_like{
        float: right;
        line-height: 40px;
        height: 40px;
        vertical-align: middle;
        padding-right: 13px;
        padding-top: 6px;
        font-size: 40px;
        color: yellow;
    }
    .Board_item_like:hover{
        cursor: pointer;
    }
}


@media (min-width: 1024px) and (max-width: 1280px){

    .Board_item_Box{
        display: block;
        text-align: center;
        width: 100%;
        height: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .Board_item_line{
        display: inline-block;
        background-image: url('../Images/BoardItemBackground.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 900px;
        height: 120px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .Board_item{
        font-weight: bold;
    }
    .Board_item_more{
        display: inline-block;
        width: max-content;
        height: 20px;
        line-height: 20px;
        border-width: 1px;
        outline: 0;
    }
    .Board_item_more:hover{
        cursor: pointer;
    }
    .MakeBoard_Submit_btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .title_box{
        display: inline-block;
        width: 50%;
        font-size: 18px;
        line-height: 120px;
        vertical-align: middle;
        text-align: left;
        font-size: 25px;
    }
    .title_box:hover{
        cursor: pointer;
    }
    .region_box, .position_box{
        display: inline-block;
        width: max-content;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        font-size: 15px;
        margin-left: 3px;
        margin-right: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-width: 3px;
        font-weight: bold;
        color: white;
    }
    .region_box{
        background-color: #5c5846;
    }
    .position_box{
        background-color: #4c4837;
    }
    
    .mine_menu:hover{
        cursor: pointer;
    }
    .newheader{
        display: block;
        width: max-content;
        margin-bottom: 3px;
        margin-left: auto;
        margin-right: auto;
    }
    .newheader2{
        margin-top: 20px;
    }
    .newtitle_box{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .newcontent_box{
        display: block;
        width: 200px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}