.Board_Box{
    display: inline-block;
    width: 200px;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-style: solid;
}

.title_box{

}
.writer_box{

}
.content_bpx{
    
}