@font-face{
  font-family: BMJUA;
  src: url('./Fonts/BMJUA_ttf.7dbe95a7.7dbe95a7.ttf');
}

/* 공통 */
.NavibarRouter .linkitem{
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: auto;
  text-decoration: none;
  color: white;
  font-size: 23px;
  background-color: transparent;
  padding: 5px 5px 5px 5px;
  outline: 0;
  font-family: BMJUA;
  padding-top: 5.5vh;
}
.NavibarRouter .linkitem:hover {
  color: black;
}

.logoutBtn{
  float: right;
  width: 80px;
  height: 40px;
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 1vh;
  text-decoration: none;
  color: white; 
  font-size: 20px;
  background-color: transparent;
  padding: 5px 5px 5px 5px;
  border: 0;
  outline: 0;
}
.logoutBtn:hover{
  cursor: pointer;
  color: black;
}





/* 사용하던 갈색  #4c4837 */
@media (min-width: 1601px){
  
  .NavibarRouter_Mobile_img{
    display: none;
  }
  .hamburger_menu{
    display: none;
  }
  .NavibarRouter_Mobile{
    display: none;
  }
  .NavibarRouter{
    width: 100%;
    height: 10vh;
    background-color: #4c4837;
    text-align: center;
  }
  
  .ContentRouter{
    background-image: url('./Images/CheckBack.png');
    background-size: contain;
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
  }
  
  .logo_img{
    height: 10vh;
    position: absolute;
    top: 0;
  }
  .logo_img:hover{
    cursor: pointer;
  }
}


@media (min-width: 1024px) and (max-width: 1600px){
  
  .NavibarRouter_Mobile_img{
    display: none;
  }
  .NavibarRouter_Mobile{
    display: none;
  }
  .hamburger_menu{
    display: none;
  }
  .NavibarRouter{
    width: 100%;
    height: 10vh;
    background-color: #4c4837;
    text-align: center;
  }
  
  .ContentRouter{
    background-image: url('./Images/CheckBack.png');
    background-size: contain;
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
  }
  
  .logo_img{
    height: 10vh;
    position: absolute;
    top: 0px;
  }
  
  .logo_img:hover{
    cursor: pointer;
  }
}

@media (min-width: 360px) and (max-width: 480px){
  
  .NavibarRouter{
    display: none;
    width: 100%;
    height: 10vh;
    background-color: #4c4837;
    text-align: center;
  }
  .NavibarRouter_Mobile{
    height: 7vh;
    background-color: #4c4837;
    width: 100%;
    text-align: center;
  }
  .NaviMenu{
    float: right;
    margin: 0 0 0 0;
  }
  .MuiButtonBase-root .MuiButton-root .MuiButton-text{
    padding: 0 0 0 0;
  }
  .NavibarRouter_Mobile_img{
    height: 7vh;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: -64px;
  }
  .logo_img{display: none;}
  .Mobile_linkitem{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .ContentRouter{
    background-image: url('./Images/CheckBack.png');
    background-size: contain;
    width: 100%;
    height: 93vh;
    overflow-y: scroll;
  }
  
  .logo_img{
    height: 10vh;
    position: absolute;
    top: 0;
  }
  
  .logo_img:hover{
    cursor: pointer;
  }
  .logoutBtn2{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    outline: 0;
    border: none;
    color: white;
  }
}