@font-face{
  font-family: BMJUA;
  src: url('./Fonts/BMJUA_ttf.7dbe95a7.7dbe95a7.ttf');
}

body {
  margin: 0;
  font-family: BMJUA, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
